<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Feeback</title>
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-container">
            
            {% if session['username']%}
            <a href="/users/{{session['username']}}" class="nav-link">My Account</a>
            <a href="/logout" class="nav-link">Log Out</a>
            {% else %}
            <a href="/login" class="nav-link">Login</a>
            <a href="/register" class="nav-link">Sign Up</a>
            {% endif %}
            
        </div>
    </nav>

    
    <div class="main-content">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert"><p>{{ msg }}</p></div>
        {% endfor %}
        
        {% block content %} {% endblock%}    
    </div>
</body>
</html>